* {
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;;
  font-size: 1.2rem;
  color: white;
}

body {
  background: #85182a;
  color: white;
}

#canvas {
  background: grey;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid white;
}

.high-score {
  position: absolute;
  top: 1.5rem;
  width: 80%;
  left: 10%;
  text-align: center;
}

.reset {
  cursor: pointer;
  position: absolute;
  top: 95%;
  left: 10%;
  width: 80%;
  text-align: center;
}